module.exports = {
        prefix: 'PREFIX',
        ownerID: 'YOUR DISCORD ID',
        tokens: {
            bot: 'BOT TOKEN HERE',
            cleverbot_api: {
                user: 'insert key pls',
                key: 'this too',
            },
            nasa: 'this three',
        },
        items: {
            price: {
                1: number,
                2: number,
            },
        },
};