module.exports = {
        prefix: 'PREFIX',
        ownerID: ['YOUR DISCORD ID', 'SECOND OWNER ID'],
        public: false,
        tokens: {
            bot: 'BOT TOKEN HERE',
            cleverbot_api: {
                user: 'insert key pls',
                key: 'this too',
            },
            nasa: 'this three',
            pasteee: 'this four',
        },
};